@keyframes blurSlidein {
    from {
        filter: brightness(0%) blur(none);
    }
    to {
        filter: brightness(80%) blur(3px);
    }
}

@keyframes blurSlideout {
    from {
        filter: brightness(80%) blur(3px);
    }
    to {
        filter: brightness(0%) blur(none);
    }
}
@keyframes upDowonOpacitySlidein {
    from {
        margin-top: 10px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes upDowonOpacitySlideout {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes upDowonOpacitySlidein_mainVisual {
    from {
        margin-top: 90px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes upDowonOpacitySlideout_mainVisual {
    from {
        margin-top: 0;
        opacity: 1;
    }
    to {
        margin-top: 90px;
        opacity: 0;
    }
}






@keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes opacityIn_4 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.4;
    }
}

@keyframes opacityOut_4 {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0;
    }
}

@keyframes upDowonSlidein {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -32px;
    }
}

@keyframes upDowonSlideout {
    from {
        margin-top: -32px;
    }
    to {
        margin-top: 0;
    }
}




@keyframes upDowonShadowSlidein {
    from {
        box-shadow: 0px 0px 0px 0px #fff;
        top: 0;
    }
    to {
        box-shadow: 0px 5px 8px 0px #00000026;
        top: -10px;
    }
}

@keyframes upDowonShadowSlideout {
    from {
        box-shadow: 0px 5px 8px 0px #00000026;
        top: -10px;
    }
    to {
        box-shadow: 0px 0px 0px 0px #fff;
        top: 0;
    }
}







@keyframes bottomMenuIn {
    from {
        bottom: -100px;
    }
    to {
        bottom: 0;
    }
}

@keyframes bottomMenuOut {
    from {
        bottom: 0;
    }
    to {
        bottom: -100px;
    }
}
