$font-size-default: 14px;

$font-color-default: '';
$font-color-light: #66696E;
$font-color-light-middle: #707378;
$font-color-light-ultra: #A0A4AB;
$font-color-dark: '';
$font-color-dark-middle: '';
$font-color-dark-ultra: #111;




$active-color: #0088FF;

$purple: #6C2EF3;

$background-color: #030F22;

$header-background-color: #111;

$border-color-gray: #dedede;
$border-color-black: #111;



$screen-1125-side-width: 161px;
$screen-1125-side-width-slide: $screen-1125-side-width - 20px;

$screen-1176-side-width: 212px;
$screen-1176-side-width-slide: $screen-1176-side-width - 20px;

$screen-1440-side-width: 276px;
$screen-1440-side-width-slide: $screen-1440-side-width - 20px;
